
/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
 @import url(animate.min.css);
 @import url(normalize.css);
 @import url(meanmenu.css);
 @import url(owl.carousel.min.css);
 @import url(slick.css);
 @import url(jquery-ui.css);
 @import url(nice-select.css);
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

 * {
     box-sizing: border-box !important;
}
 html {
     scroll-behavior: smooth;
}

 body {
	  background-color:#000000 ;
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}
/*-- Header --*/
 .main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}
 .main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #114c7d;
     border-left: solid #38c8a8 10px;
     padding-left: 15px;
}
 .main_heading h2 strong {
     background: #38c8a8;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}
 .white_heading_main h2 {
     color: #fff;
}
 .small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}
 .small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #114c7d;
     font-weight: 400;
     font-size: 28px;
     background-image: url('../images/fevicon.png');
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}
 .small_main_heading h2 strong {
     color: #38c8a8;
     font-weight: 600;
}
 .main_bt {
     background: #000;
     color: #fff;
     padding: 10px 60px 10px 60px;
     float: left;
     font-size: 15px;
     font-weight: 400;
     border: solid #000 5px;
     border-radius: 0;
     margin-right: 30px;
}
 a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}
 .main_bt:hover, .main_bt:focus {
     background: #ad2101;
     border: solid #ad2101 5px;
     color: #fff;
}

/**-- list icon---**/
 .ul_list_info_icon ul {
     list-style: none;
}
 .ul_list_info_icon ul li {
     display: inline;
     float: left;
     width: 100%;
}
 .ul_list_info_icon ul li img {
     width: 75px;
}
/*---------------------------- preloader area -------------------*/
 .loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .loader img {
     width: 280px;
}
/*---------------------------- scroll to top area --------------------*/
 .scrollup {
     float: right;
     position: absolute;
     color: #fff;
     right: 20px;
     padding: 0px 5px;
     text-transform: uppercase;
     font-weight: 600;
     background: #38c8a8;
     position: fixed;
     bottom: 20px;
     z-index: 99;
     text-align: center;
     color: #fff;
     cursor: pointer;
     border-radius: 0px;
     opacity: 0;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transition: .2s all ease;
     -moz-transition: .2s all ease;
     -o-transition: .2s all ease;
     -webkit-transition: .2s all ease;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     line-height: 48px;
     font-size: 16px;
}
 .scrollup.b-show_scrollBut {
     opacity: 1;
     visibility: visible;
}
 .top_awro {
     background: #ee4a79 none repeat scroll 0 0;
     cursor: pointer;
     padding: 6px 8px;
     position: fixed;
     bottom: 59px;
     right: 20px;
     display: none;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     transition: all 0.5s ease;
}
 .sale_pro {
     background: #f25252 !important;
}
 .margin_top_50 {
     margin-top: 50px;
}
 .margin_bottom_30_all {
     margin-bottom: 30px;
}
 .text_align_center {
     text-align: center;
}

 .logo_section {
     text-align: center;
}
 .logo {
     float: left;

     padding-bottom: 6px;
}
 nav.main-menu {
     float: left;
     margin-left: 0;
     margin-left: 0;
}

.right_cart_section {
     float: right;
     width: auto;
}
 .right_cart_section ul {
     float: left;
     min-height: auto;
     margin: 0;
     padding: 12px 0 0;
}
 .right_cart_section .cart_icons {
     padding: 18px 0 0;
}
 .main-menu ul>li nth:child(5) a {
     padding-right: 0px;
}
 .right_cart_section ul li {
     float: left;
     font-size: 17px;
     font-weight: 400;
     color: #fff;
     margin-right: 30px;
}
 .right_cart_section ul.cart_update li {
     font-size: 13px;
     color: #ccc;
     line-height: normal;
     margin: 0;
     font-weight: 300;
}
 .right_cart_section ul.cart_update li span {
     font-size: 18px;
     font-weight: 300;
     color: #fff;
     line-height: 21px;
}
 .right_cart_section ul li i {
     margin-right: 10px;
     margin-top: 5px;
     float: left;
     color: #fff;
     font-size: 21px;
}
 .right_cart_section ul li a {
     color: #fff;
}
.menu-area-main li.active a {
     color: #538d2e;
     }
.main-menu {
     text-align: center;
}
 .main-menu ul {
     margin: 0;
     list-style-type: none;
}
 .main-menu ul>li {
     display: inline-block;
     position: relative;
}
 .main-menu ul>li a {
     padding: 11px 15px;
     text-align: center;
     line-height: 20px;
     font-size: 16px;
     display: block;
     font-weight: 500;
     color: #000;
}
.main-menu ul>li a:hover {    color: #538d2e;}
 .main-menu ul li:last-child a {
     padding-right: 0;
}
 .sub-down li {
     background: #ffffff;
}
 .main-menu ul>li .sub-down li a {
     color: #114c7d;
     font-size: 15px;
     text-transform: capitalize;
     font-weight: 300;
     padding: 12px 5px;
     position: relative;
     border-bottom: solid #eee 1px;
}
 .main-menu ul>li .sub-down li a::before {
}
 .main-menu ul>li .sub-down li a:hover {
     color: #111111;
}
 .main-menu ul>li .sub-down li a:hover::before {
}
 .main-menu ul li:first-child {
     margin-left: 0;
}
 .main-menu ul>li>ul {
     opacity: 0;
     position: absolute;
     text-align: left;
     top: 100%;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 240px;
     z-index: 999;
     background: #fff;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
 .main-menu>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
}
 .main-menu ul>li>ul>li {
     margin: 0px;
     position: relative;
     display: block;
}
 .main-menu ul>li>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
     left: 100%;
     top: 10px;
}
 .main-menu ul>li>ul>li>a {
     background: none !important;
}
 .mean-container .mean-nav {
     margin-top: 0px;
     position: absolute;
     top: 100%;
}
 .main-menu ul>li {
     position: inherit;
     display: inline-block;
     text-align: left;
     vertical-align: middle;
    }
 .main-menu ul>li:nth-child (6) {
     padding-right: 0px;
}
 .nav>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
 .megamenu .sub-down {
     max-width: 1140px;
     width: 100%;
     left: 0;
     margin: 0 auto;
     right: 0;
     padding: 15px 0px;
}
/*-- End Header  --*/

/*-- Home --*/
.menu-area {
   float: right;
}
.mean-last {
  display: inline-block !important;
background: #0f052f;
margin: 0 !important;
padding: 30px 36px 30px 16px;
float: right;
margin-right: 110px !important;
width: 24%;
}
.mean-last a {
   padding: 0px 20px;
   color: #fff;
   font-size: 16px;
}
.slider_section {
    padding: 90px 0;
    background: #ececf0;
}
.padding_left0 {
   padding-left: 0px;
}

.header {
    z-index: 999;
    width: 100%;
    padding: 20px 30px 20px 30px;
    background: #ececf0;
}
.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}
.ambulance-2-1144x640_Client {
     position: relative;
}
 .text-bg {text-align: left;}
  .text-bg span {
       font-size: 41px;
    line-height: 51px;
    color: #020500
  }
 .text-bg h1 {
    color: #43960f;
padding-top: 10px;
font-size: 71px;
line-height: 85px;
padding-bottom: 45px;
font-weight: bold;
}
 .text-bg p {
     font-size: 20px;
     display: block;
     color: #020500;
     line-height: 30px;
     text-align: justify;
     padding-bottom: 50px;
     font-weight: 500;
}
}
  .text-bg a {
     font-size: 16px;
border: #1a1b19 solid 1px;
background-color: #1a1b19;
color: #fff;
padding: 9px 0px;
max-width: 171px;
width: 100%;
display: inline-block;
text-align: center;
;
margin-right: 10px;
 }
 .text-bg a:hover {
     background-color: #428713;
     border: #428713 solid 1px;
    color: #fff;
}

.carousel-caption {position: inherit;}
.carousel-indicators .active {
    background-color: #1a1b19;
}
.carousel-indicators li {width: 15px; height: 15px; border-radius: 10px; background: #428713; }
.padding_dd {padding: 0px 50px;}
.carousel-control-next {display: none;}
.carousel-control-prev {display: none;}
 /*-- Home End --*/

/** About  section **/
 .about {
     background-color: #fff;
     box-shadow: #ddd 0px 0px 13px 5px;
     margin: 90px 30px 20px 30px;
}
 .about .about-box {
text-align: left;
float: right;
width: 50%;
max-width: 539px;
padding: 40px 0;

}
.about .about-box::after {
     position: absolute;
     content: "";
     background: url(../images/crros.png);
     height: 244px;
width: 190px;
bottom: 0;
left: 0;
background-repeat: no-repeat;
}
 .about .about-box h2 {

     font-weight: bold;
     color: #fff;
     line-height: 40px;
     font-size: 45px;
     text-transform:uppercase;
     background: #547d13;
     display: inline-block;
     padding: 20px 30px;

 }
 .about .about-box p {
     font-size: 17px;
     line-height: 28px;
     color: #000;
     text-align: justify;
     padding: 40px 0px;
}
.about .about-box a {
     font-size: 16px;
border: #070905 solid 1px;
background-color: #070905;
color: #fff;
padding: 9px 0px;
max-width: 171px;
width: 100%;
display: inline-block;
text-align: center;
text-transform: uppercase;
border-radius: 30px;
overflow: auto:
 }
.about .about-box a:hover{
     background-color: #428713;
     border: #428713 solid 1px;
    color: #fff;
 }
 .about .about-box_img figure {
     margin: 0;
}
 .about .about-box_img figure img {
    width: 100%;
}
.padding_rl {padding: 0;}

/** End About section **/


/** AMBULANCE VAN NEW Section **/
.AMBULANCE {
     background-color: #fff;
     margin-top: 70px;
    margin-bottom:-40px;

}
.AMBULANCE_shop h3 {
font-size: 31px;
line-height: 35px;
color: #000;
font-weight: 500;
padding-bottom: 17px;
display: block;
}
.AMBULANCE_shop p {

     font-size: 17px;
     line-height: 28px;
     text-align: justify;
     color: #000;
}
.AMBULANCE_img span {
    z-index: 999;
    display: flex;
    align-content: center;
    align-items: center;
    right: 0;
    top: 44%;
    background-color:#385E0F;
    padding: 19px 27px;
    border-radius: 88px;
    margin-right: -20px;
    position: absolute;
    color: #fff;
    font-size: 19px;
}

.margin_top span {
    z-index: 999;
    display: flex;
    align-content: center;
    align-items: center;
    right: 0;
    top: 27%;
    background: red;
    padding: 19px 25px;
    border-radius: 88px;
    margin-right: -20px;
    position: absolute;
    color: #fff;
    font-size: 19px;
}
.AMBULANCE_img figure {margin: 0;}
.AMBULANCE_img figure img {width: 100%}
.margin_top {
    margin-top: -90px;
}
.titlepage {
    text-align: center;
     padding-bottom: 60px;
}
.titlepage span {padding-top: 30px; display: inline-block; font-size: 17px; color:#000;}
.llow {color:red; font-weight: bold; font-family:Arial Black; text-align:center;}
 .titlepage h2 {
     text-transform: uppercase;
     padding: 0;
     font-weight: bold;
     color: #000;
     line-height: 55px;
     font-size: 50px;
}
/** END AMBULANCE VAN NEW Section **/

/** Testomonial **/
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}
h1 {
    font-size: 24px
}
h2 {
    font-size: 22px
}
h3 {
    font-size: 18px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 13px
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}
button:focus {
    outline: none;
}
ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}
a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
img {
    max-width: 100%;
    height: auto;
}

.clients {
     background: #fff;
     margin-top: 90px;

}
.clients .titlepage {padding-bottom: 0px;}
.clients .titlepage h2 {
    color:#FFFFFF;
margin-bottom: -77px;
text-align:right;
}

.clients_red {
     background: #fff;
     padding-bottom: 80px;
     background: url(../images/download.jpg);

	 background-size:100%;
     min-height: 975px;
     background-repeat: no-repeat;
     background-color:#000000;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
.cross_inner h3 {
    text-align: left;
    padding-left: 60px;
    padding-top: 58px;
    font-size: 30px;
    line-height: 25px;
    padding-bottom: 58px;
    color: #fff;

}
.testomonial_img {
    padding: 15px;
    background: #fff;
}
.testomonial_img figure {margin: 0;}
.testomonial_img figure img  {width: 1070px;}
.testomonial_img i {
display: flex;
justify-content:center;
flex-wrap: wrap;
padding-top: 30px;
}

.testimonial_cont p {
color: #fff;
padding-left:50px;
font-size: 19px;
text-align: justify;
line-height: 30px;
font-weight: 400;

}
#testimonial_slider .carousel-indicators {
     bottom: -50px;
}

#testimonial_slider .carousel-indicators li {
     width: 25px;
height: 25px;
background-color:#052901;
border-radius: 50px;
}
#testimonial_slider .carousel-indicators li.active {
     background-color: #040000cc;
}

.testimonial_cont {
    background:#040000cc;
    min-height: 295px;
    padding: 60px 40px;
}
.text_align_center {
    text-align: center;
background: #428713;
}
.ornage_color {
font-size: 19px;
line-height: 10px;
font-weight: normal;
}
/** End Testomonial **/

/** AMBULANCE VAN TYPES section **/
 .contact {
padding: 200px;
background-size: cover;
background: url(../images/1551170.jpg);

background-size: cover;
background-repeat: no-repeat;
background-size:100%;
align-items: center;

}
.contact_bg .titlepage {padding-bottom: 20px; text-align: right !important; padding-right: 10px;}
#map {
    height: 100%;
    min-height: 470px;
}

.white_color {background: #fff; box-shadow: 0px 0px 11px 0px;}
.map figure {margin: 0px;}
.map figure img {width: 100%;}

 .white_bg {
     background-color: #DCF39C;
     padding: 40px 30px 30px 30px
}
 .contact .titlepage {
     text-align: center;

}
 .contact .titlepage h3 {
     padding: 0px 0px 6px 0px;
     text-transform: uppercase;
     font-weight: bold;
     color:red;
     line-height: 46px;
     border-bottom: #fff solid 1px;
     font-size: 40px;
     width: 367px;
     margin: 0 auto;
     margin-bottom: 60px;
}
 .contact .contact_bg {
    max-width: 541px;

     padding: 0;
     padding: 60px 0px;
}
 .contact .contact_bg .contactus {
     border: #e8e8e8 solid 1px;
     padding: 12px 19px;
     margin-bottom: 26px;
      border-radius: 1px;
     color: #000;
     width: 100%;
}
 .contact .contact_bg .textarea {
     margin-bottom: 25px;
         padding: 29px 19px;
     color: #000 !important;
     width: 100%;
         border: #e8e8e8 solid 1px;
    border-radius: 1px;
        padding-top: 50px;
}
 .contact .contact_bg .send {
     font-size: 16px;
     border: #428713 solid 1px;
     background-color: #428713;
     color: #fff;
     padding: 11px 67px;
     float: right;
     transition: all 0.3s ease-in;
}
 .contact .contact_bg .send:hover {
     background-color: #ff7e1d;
border: #ff7e1d solid 1px;
color: #fff;
transition: all 0.3s ease-in;

}
/** End AMBULANCE VAN TYPES Section **/


/** footer & contact **/

 .footer {
     background: #3b3b3b;
     padding-top: 60px;
}

.logo_footer {
border: #ddd solid 2px;
padding: 11px 50px;
display: inline-block;
margin-bottom: 30px;
}
 .footer .address h3 {
     color: #fff;
font-size: 30px;
line-height: 35px;
font-weight: bold;
padding-bottom: 20px;
}
 .location_section {
     background-color: #fff;
     margin-bottom: 40px;
     border-radius: 10px;
     padding: 20px 35px;
}

 .news .newslatter {
     padding: 7px 23px;
box-shadow: inherit;
border: inherit;
width: 100%;
font-size: 19px;

margin-bottom: 20px;
}
.submit {
padding: 9px 0;
background: #428713;
color: #fff;
margin-left: -5px;
font-weight: 500;
font-size: 18px;
max-width: 170px;
width: 100%;
border-radius: 30px;
text-transform: uppercase;
transition: all 0.3s ease-in;
}
 .submit:hover {
     background: #ff7e1d;
     color: #fff;
     transition: all 0.3s ease-in;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

 ul.social_link {
    padding-bottom: 35px;
     padding-top: 7px;
     display: block;
}
 ul.social_link li {
    display: inline-block;
     padding-right: 4px;
}
ul.social_link li a img {
     width: 30px;
     height: 30px;
}
 ul.social_link li a img:hover {
     background-color: #f4b328 ;
     border-radius: 20px;
}
 ul.Menu_footer li{

     display: block;
     color: #3e7f21;
}
 ul.Menu_footer li a {
     display: block;
     color: #fcfbfb;
     font-size: 17px;
}
 ul.Menu_footer li a:hover{
     color: #f4b328 ;
}

ul.loca li {
     color: #fcfbfb;
     display: flex;
     font-size: 16px;
     flex-wrap: wrap;
}
 ul.loca li a {
     color: #fcfbfb;
     margin-top: 4px;
}
 .copyright {
     padding: 20px 0px;
     margin-top: 55px;
     background-color: #428713;
}
 .copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;

}
 .copyright a {
     color: #fff;
}
 .copyright a:hover {
     color: #ff7e1d ;
}
/** End footer & contact **/
/*--------------------------------------------------------------------- End page css ---------------------------------------------------------------------*/
